@font-face {
    font-family: 'Khand';
    src: url('Khand-Bold.woff2') format('woff2'),
        url('Khand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Bold.woff2') format('woff2'),
        url('Khand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Bold.woff2') format('woff2'),
        url('Khand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khand';
    src: url('Khand-Bold.woff2') format('woff2'),
        url('Khand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

